<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('style.css') }}">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
    
    <header>
        <nav>
            <ul>
                {% if app.user %}
                    <li><a href="{{ path('app_logout') }}">Se Déconnecter</a></li>
                    <li><a href="{{ path('app_user_show', {'id': app.user.id}) }}">Voir mon profil</a></li>
                {% else %}
                    <li><a href="{{ path('app_user_new') }}">Créer un compte</a></li>
                    <li><a href="{{ path('app_login') }}">Se Connecter</a></li>
                {% endif %}


                <li><a href="{{ path('app_to_do_list_index') }}">Voir mes penses-bêtes</a></li>
                {% if app.user %}
                <li><a href="{{ path('app_to_do_list_new') }}">Créer un nouveau pense-bête</a></li>
                {% else %}
                {% endif %}

            </ul>
        </nav>
    </header>
        {% block body %}{% endblock %}
    </body>
</html>
